<head>
  <title>FLEX Calendar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="sorttable.js"></script>
</head>
<div class="col-10 offset-2">
    <div class="card">
        <div class="card-header">
            <h1>Manage Users</h1>
            <%= link_to "Home", "/" %>
            <% if @user.permissions != "Member" %>
            <button class="btn"
                    onclick="prepareNewUserForm()">
            Add User
            </button>
            <% end %>
        </div>
        <div class="card-body">
            <div class="row collapse" id="userDetailsFormSection">
                <div class="card col-10 pt-3 pb-3 mb-3">
                    
                    <%= form_tag users_path do %>
                        <div class="form-row">
                          <div class="form-group col-3">
                            <label for="userName">User Name: </label>
                            <input type="text"
                                    class="form-control"
                                    id="userName"
                                    name="userName"
                                    placeholder="(e.g. John Doe)"
                                    required autofocus>
                          </div>        
                          
                          <div class="form-group col-3">
                            <label for="userNetID">NetID: </label>
                            <input type="text"
                                    class="form-control"
                                    id="userNetID"
                                    name="userNetID"
                                    placeholder="(e.g. john.doe.123)"
                                    required>
                          </div>
                          
                          <div class="form-group col-2">
                            <label for="userPermissions">Level: </label>
                            <select class="form-control"
                                    id="userPermissions"
                                    name="userPermissions"
                                    required>
                              <option value="Member">Member</option>
                              <option value="ZL">ZL</option>
                              <option value="Exec">Exec</option>
                            </select>
                          </div>
                          
                          <div class="form-group col-2">
                            <label for="userZone">Zone: </label>
                            <select class="form-control"
                                    id="userZone"
                                    name="userZone"
                                    required>
                              <option value="FR">FR</option>
                              <option value="Social">Social</option>
                              <option value="Service">Service</option>
                              <option value="LD">LD</option>
                              <option value="PR">PR</option>
                            </select>
                          </div>
                        </div>
                    <%= submit_tag "Add User" %>
                  <% end %>
                    
                </div>
            </div>
            <div class="row">
                <table class="table sortable">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Level</th>
                            <th scope="col">Zone</th>
                            <th scope="col">Points</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @allUsers.each{ |user| %>
                        <tr>
                            <td scope="col"><%= link_to "#{user.name}", user_path(user) %></th>
                            <td scope="col"><%= user.permissions %></th>
                            <td scope="col"><%= user.user_zone %></th>
                            <td scope="col"><%= @allPoints[user.name] %></td>
                            <td scope="col">Display Status</th>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>