<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'animate.css' %>
</head>
<div class="col-md-10 col-xs-12 offset-2 animated fadeInDownBig fast">
    <div class="card mt-3">
        <div class="card-header">
            <h1>My Registrations</h1>
            <p>View events you have registered for here!</p>
        </div>
        <div class="card-body" data-turbolinks="false">
            <span style="font-weight:bold"><%= @user.name %>'s Total Registrations:</span> <span> <%= @user_events.length() %></span></br></br>
            
            <span style="font-weight:bold">FR:</span></br>
            <% @fr_events.each do |fr| %>
                <%= link_to fr.name << "," << DateTime.parse(fr.date).strftime("%l:%M%p, %m/%d/%Y"), event_path(fr) %></br>
            <% end %></br>

            <span style="font-weight:bold">Social:</span></br>
            <% @social_events.each do |social| %>
                <%= link_to social.name << "," << DateTime.parse(social.date).strftime("%l:%M%p, %m/%d/%Y"), event_path(social) %></br>
            <% end %></br>
            
            <span style="font-weight:bold">Service:</span></br>
            <% @service_events.each do |service| %>
                <%= link_to service.name << "," << DateTime.parse(service.date).strftime("%l:%M%p, %m/%d/%Y"), event_path(service) %></br>
            <% end %></br>
            
            <span style="font-weight:bold">LD:</span></br>
            <% @ld_events.each do |ld| %>
                <%= link_to ld.name << "," << DateTime.parse(ld.date).strftime("%l:%M%p, %m/%d/%Y"), event_path(ld) %></br>
            <% end %></br>
            
            <span style="font-weight:bold">PR:</span></br>
            <% @pr_events.each do |pr| %>
                <%= link_to pr.name << "," << DateTime.parse(pr.date).strftime("%l:%M%p, %m/%d/%Y"), event_path(pr) %></br>
            <% end %></br>
        </div>
    </div>
</div>
<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
 <% end %>
