<div class="col-10 offset-2">
    <h1>My Registrations</h1>
    <p>View events you have registered for here!</p>
    <span style="font-weight:bold"><%= @user.name %>'s Total Registrations:</span> <span> <%= @user_events.length() %></span></br></br>
    
    <span style="font-weight:bold">Fundraising:</span></br>
    <ul>
        <% @fr_events.each do |fr| %>
        <li>
            <%= fr.name %></br>
        </li>
        <% end %></br>
    </ul>
    
    <span style="font-weight:bold">Social:</span></br>
    <ul>
        <% @social_events.each do |social| %>
        <li>
            <%= link_to social.name, event_path(social) %></br>
        </li>
        <% end %></br>
    </ul>
    
    <span style="font-weight:bold">Service:</span></br>
    <ul>
        <% @service_events.each do |service| %>
        <li>
            <%= link_to service.name, event_path(service) %></br>
        </li>
        <% end %></br>
    </ul>
    
    <span style="font-weight:bold">Leadership Dev:</span></br>
    <ul>
        <% @ld_events.each do |ld| %>
        <li>
            <%= link_to ld.name, event_path(ld) %></br>
        </li>
        <% end %></br>
    </ul>
    
    <span style="font-weight:bold">PR:</span></br>
    <ul>
        <% @pr_events.each do |pr| %>
        <li>
            <%= link_to pr.name, event_path(pr) %></br>
        </li>
        <% end %></br>
    </ul>
</div>
<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>