<div class="sidebar" id=smallScreen>
   <%= link_to( image_tag("logoWhite.png", class: "img-fluid"), "http://www.tamuflex.com") %>
   <a class="btn btn-secondary" id="button" data-toggle="collapse" href="#collapseSidebar" role="button" aria-expanded="false" aria-controls="collapseExample">
   Menu
   </a>
   <div class="collapse", id=collapseSidebar>
      <div class="nav-sidebar", id= "sidebar">
         <%= link_to_unless_current "Home", root_path %>
        
         <%if session[:memType] != nil %>
            <%= link_to_unless_current "Calendar",
               {:controller => "member", :action => "calendar"} %>
         <% end %>
         
         <%if session[:memType] != nil %>
            <%= link_to_unless_current "Forms",
               {:controller => "member", :action => "forms"} %>
         <% end %>
         
         <%if session[:memType] != nil %>
            <% if session[:memType] == "Member" || session[:memType] == "Exec"%>
               <%= link_to_unless_current "My Points",
                  {:controller => "member", :action => "mypoints"} %>
               <% end %>
         <% end %>
         
         <%if session[:memType] != nil %>
            <% if session[:memType] == "Member" || session[:memType] == "Exec"%>
               <%= link_to_unless_current "My Registrations",
                  {:controller => "member", :action => "myregistrations"} %>
            <% end %>
         <% end %>
         
         <%if session[:memType] != nil %>
            <% if session[:memType] == "Exec" || session[:memType] == "ZL" %>
               <%= link_to_unless_current "Approve Points",
               {:controller => "member", :action => "approvepoints"} %>
            <% end %>
         <% end %>
         
         <div data-turbolinks = "false">
            <%if session[:memType] != nil %>
               <% if session[:memType] == "Exec" || session[:memType] == "ZL" %>
                  <%= link_to_unless_current "Manage Users",
                  {:controller => "member", :action => "manageusers"} %>
               <% end %>
            <% end %>
         </div>
         
         <div class="hide-on-mobile">
            <%if session[:memType] != nil %>
               <% if session[:memType] == "Exec"%>
                  <%= link_to_unless_current "End of Semester",
                  {:controller => "member", :action => "endofsemester"} %>
               <% end %>
            <% end %>
         </div>
       </div>
   </div>
</div>


<div class= "sidebar col-sm-2" id="bigScreen">
   <%= link_to( image_tag("logoWhite.png", class: "img-fluid"), "http://www.tamuflex.com") %>
   <div class="nav-sidebar", id= "sidebar">
      <%= link_to_unless_current "Home", root_path %>
  
      <%if session[:memType] != nil %>
         <%= link_to_unless_current "Calendar",
            {:controller => "member", :action => "calendar"} %>
      <% end %>
      
      <%if session[:memType] != nil %>
         <%= link_to_unless_current "Forms",
            {:controller => "member", :action => "forms"} %>
      <% end %>
      
      <%if session[:memType] != nil %>
         <% if session[:memType] == "Member" || session[:memType] == "Exec"%>
            <%= link_to_unless_current "My Points",
               {:controller => "member", :action => "mypoints"} %>
            <% end %>
      <% end %>
      
      <%if session[:memType] != nil %>
         <% if session[:memType] == "Member" || session[:memType] == "Exec"%>
            <%= link_to_unless_current "My Registrations",
               {:controller => "member", :action => "myregistrations"} %>
         <% end %>
      <% end %>
      
      <%if session[:memType] != nil %>
         <% if session[:memType] == "Exec" || session[:memType] == "ZL" %>
            <%= link_to_unless_current "Approve Points",
            {:controller => "member", :action => "approvepoints"} %>
         <% end %>
      <% end %>
      
      <div data-turbolinks = "false">
         <%if session[:memType] != nil %>
            <% if session[:memType] == "Exec" || session[:memType] == "ZL" %>
               <%= link_to_unless_current "Manage Users",
               {:controller => "member", :action => "manageusers"} %>
            <% end %>
         <% end %>
      </div>
      
      <div class="hide-on-mobile">
         <%if session[:memType] != nil %>
            <% if session[:memType] == "Exec" %>
               <%= link_to_unless_current "Change Semester/Year",
               {:controller => "member", :action => "endofsemester"} %>
            <% end %>
         <% end %>
      </div>
   </div>
</div>



