<div class= "sidebar col-2">
    <div class="nav-sidebar", id= "sidebar">
            <%= link_to_unless_current "Home", root_path %>
        
            <%= link_to_unless_current "Calendar",
               {:controller => "member", :action => "calendar"} %>
       
            <%= link_to_unless_current "Forms",
               {:controller => "member", :action => "forms"} %>
    
            <%= link_to_unless_current "Marketplace",
               {:controller => "member", :action => "marketplace"} %>
            
            <%if session[:memType] != nil %>
               <% if session[:memType] == "Member" %>
                  <%= link_to_unless_current "My Points",
                     {:controller => "member", :action => "mypoints"} %>
                  <% end %>
            <% end %>
            
            <%if session[:memType] != nil %>
               <% if session[:memType] == "Member" %>
                  <%= link_to_unless_current "My Registrations",
                     {:controller => "member", :action => "myregistrations"} %>
               <% end %>
            <% end %>
            
            <%if session[:memType] != nil %>
               <% if session[:memType] == "Exec" || session[:memType] == "ZL" %>
                  <%= link_to_unless_current "Approve Points",
                  {:controller => "member", :action => "approvepoints"} %>
               <% end %>
            <% end %>
            
            <%if session[:memType] != nil %>
               <% if session[:memType] == "Exec" || session[:memType] == "ZL" %>
                  <%= link_to_unless_current "Manage Users",
                  {:controller => "member", :action => "manageusers"} %>
               <% end %>
            <% end %>
    </div>
</div>