<div class= "sidebar col-2">
    <div class="nav-sidebar">
            <%= link_to_unless_current "Home",
               {:controller => "member", :action => "login"} %>
        
            <%= link_to_unless_current "Calendar",
               {:controller => "member", :action => "calendar"} %>
        
            <%= link_to_unless_current "Forms",
               {:controller => "member", :action => "forms"} %>
    
            <%= link_to_unless_current "Marketplace",
               {:controller => "member", :action => "marketplace"} %>
        
            <%= link_to_unless_current "My Points",
               {:controller => "member", :action => "mypoints"} %>
        
            <%= link_to_unless_current "My Registrations",
               {:controller => "member", :action => "myregistrations"} %>
            <% if $memberType == "exec" || $memberType == "zl" %>
            <%= link_to_unless_current "Approve Points",
               {:controller => "member", :action => "approvepoints"} %>
            <% end %>
    </div>
</div>