<div class="col-10 offset-2">
  <h1>Project FLEX</h1>
  <p>Welcome to the homepage</p>
  <!--<button_to type="button">Log in</button> -->
  
  <% if @member == false and @attemptMade == true %>
    <p>Cannot login, you are not a member.</p>
    <%= button_to "Login", { :controller => "member", :action => "login"} %>
  <% elsif user = session[:cas_user] != nil %>
    <p>Hello, <%= User.get_user(session[:cas_user]).name %>! You are authenticated.</p>
    <p>Position: <%= User.get_user(session[:cas_user]).permissions.capitalize %></p>
    <%= button_to "Logout", { :controller => "member", :action => "logout"} %>
  <% else %>
    <%= button_to "Login", { :controller => "member", :action => "login"} %>
  <% end %>
</div>
<!-- Add CSS to make these buttons! -->
<div>
  <% if session[:cas_user] != nil %>
  <% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
  <% end %>
  <% end %>
</div>
