<h1>Project FLEX</h1>
<p>Welcome to the homepage</p>
<!--<button_to type="button">Log in</button> -->
<% if session[:cas_user] != nil %>
  <p>Hello, <%= session[:cas_user] %>! You are authenticated.</p>
<% else %>
  <%= button_to "Login", { :controller => "member", :action => "home"} %>
<% end %>

<!-- Add CSS to make these buttons! -->
<div>
  <br>
  <%= link_to "About", "/about" %>
  <%= link_to "Contact", "/contact" %>
  <%= link_to "Staff", "/staff" %>
  <br>
  
  <!-- replace username with session[:cas_user] later -->
  <% if session[:cas_user] != nil %>
  <%= link_to "Approve Points", { :controller => "member", :action => "approvepoints"} %>
  <%= link_to "Calendar", { :controller => "member", :action => "calendar"} %>
  <%= link_to "Forms", { :controller => "member", :action => "forms"} %>
  <%= link_to "Marketplace", { :controller => "member", :action => "marketplace"} %>
  <%= link_to "My Points", { :controller => "member", :action => "mypoints"} %>
  <%= link_to "My Registrations", { :controller => "member", :action => "myregistrations"} %>
  <% end %>
</div>
