<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>

<head>
  <title>Event Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="col-10 offset-2"
  <div class="card">
    <div class="card-header">
      <h1> <%= @event.name %></h1>
      <%= link_to "Back to Calendar", "/calendar" %>
    </div>
    <div class="card-body">
      <div class="row">
        <h3>Date: <%= DateTime.parse(@event.date).strftime("%l:%M%p, %m/%d/%Y") %></h3>
      </div>
      <div class="row">
        <h3>Points: <%= @event.point_value %> <%= @event.point_type %></h3>
      </div>
      <% if @user.permissions == "Member" %>
        <div class="row">
          <% if @registered %>
            <h4>Registered</h4>
          <% elsif @approved %>
            <h4>Approved</h4>
          <% else %>
            <%= button_to("Register", event_attendances_path(:event_id => @event.id, :user_zone => @user.user_zone)) %>
          <% end %>
        </div>
        </br></br></br>
      <% end %>
      
      <div class="table">
        <% if @user.permissions != "Member" %>
          <table>
            
            <tr>
              <th style="text-align:center">
                <td>User</td>
                <td>Zone</td>
                <td>Approve</td>
                <td>Reject</td>
              </th>
            </tr>
            
            
            <% @unapproved_users.each do |user| %>
              <tr style="text-align:center">
                <td colspan="2"> <%=user.user_name%></td>
                <td> <%= user.user_zone  %></td>
                <td>
                  <%= button_to "Approve", events_approve_attendance_path(:event => user.event_id, :user => user.user_id), method: :post %>
                  <%#= link_to "Approve Attendance", event_path(user.event_id) %>
                </td>
                <td>
                  <%= button_to "Reject", event_attendance_path(:event => user.event_id, :user => user.user_id), method: :delete %>
                </td>
                
              </tr>
            <% end %>
          </table>
          
        <% end %>
      </div>
      
    </div>
  </div>
  
  
  <!-- I don't think the code below is shown at all -->
  <div class="card-body">
    <div class="row">
      Date: <%= @event.date %>
    </div>
    <div class="row">
      Points: <%= @event.point_value %> <%= @event.point_type %>
    </div>
    
    
  </div>
  
  
  
</div>
