<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>


<head>
  <title>Event Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="sorttable.js"></script>
</head>



<div class="offset-md-2 col-md-10 col-xs-12">
  <div class="card mt-3">
    <div class="card-header">
      <h1> <%= @event.name %></h1>
      <%= link_to "Back to Calendar", "/calendar" %>
      <% if @user.permissions != "Member" %>
        <%= link_to "Delete Event", @event, :method => :delete, :data => {:confirm => "Are you sure?"}, :style=>'color: red' %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="row">
        <h3>Date: <%= DateTime.parse(@event.date).strftime("%l:%M%p, %m/%d/%Y") %></h3>
      </div>
      <div class="row">
        <h3>Location: <%= @event.location %></h3>
      </div>
      <div class="row">
        <h3>Points: <%= @event.point_value %> <%= @event.point_type %></h3>
      </div>
      <% if @event.mandatory %>
        <div class="row">
          <h3>Mandatory</h3>
        </div>
      <% end %>
      <% if @event.max_signups > 0 %>
        <div class="row">
          <h3>Spots: <%= @currSignups %>/<%= @maxSignups %></h3>
        </div>
      <% end %>
      <div class="row">
          <p>Details: &emsp;<%= simple_format(@event.details) %></p>
      </div>
      <% if (@user.permissions == "Member") && @spotsOpen %>
        <div class="row">
          <% if @registered %>
            <h4>Registered</h4>
          <% elsif @approved %>
            <h4>Approved</h4>
          <% else %>
            <%= button_to("Register", event_attendances_path(:event_id => @event.id, :user_zone => @user.user_zone)) %>
          <% end %>
        </div>
      <% end %>
      <% if @user.permissions != "Member" %>
        <div class="row">
          <button class="btn"
                    onclick="prepareEditEventForm()">
              Edit Event
          </button>
        </div>
      <% end %></br>
      <div class="row collapse" id="eventDetailsFormSection">
        <div class="card col-10 pt-3 pb-3 mb-3">
          <%= form_tag event_path(@event), method: :put do %>
          <h5>Update Event</h5>
          <div class="form-row">
              <div class="form-group col-md-3 col-xs-12 form-title">
                <label for="eventName">Event Name: </label>
                <input type="text"
                        class="form-control"
                        id="eventName"
                        name="eventName"
                        value="<%= @event.name %>"
                        required autofocus>
              </div>        
              
              <div class="form-group col-md-3 col-xs-12 form-title">
                <label for="eventDate">Event Date: </label>
                <input type="datetime-local"
                        class="form-control"
                        id="eventDate"
                        name="eventDate"
                        value="<%= @event.date %>"
                        required>
              </div>
              
              <div class="form-group col-md-3 col-xs-12 form-title">
                <label for="location">Location: </label>
                <input type="text"
                        class="form-control"
                        id="location"
                        name="location"
                        value="<%= @event.location %>"
                        required>
              </div>
              
              <div class="form-group col-md-1 col-xs-12 form-title">
                <label for="pointValue">Points: </label>
                <input type="number"
                        class="form-control"
                        id="pointValue"
                        name="pointValue"
                        value="<%= @event.point_value %>"
                        required>
              </div>
              
              <div class="form-group col-md-2 col-xs-12 form-title">
                <label for="pointType">Point Type: </label>
                <select class="form-control"
                        id="pointType"
                        name="pointType"
                        required>
                  <option value="<%= @event.point_type %>" selected>--</option>
                  <option value="FR">FR</option>
                  <option value="LD">LD</option>
                  <option value="PR">PR</option>
                  <option value="Service">Service</option>
                  <option value="Social">Social</option>
                </select>
              </div>
            </div>
            <div class="form-row">  
              <div class="form-group col-md-4 col-xs-12 form-title">
                <label for="details">Details: </label>
                <textarea rows="7"
                          class="form-control"
                          id="details"
                          name="details"><%= @event.details %></textarea>
              </div>
              <div class="form-group col-md-2 col-xs-12 form-title">
                <label for="maxSignups">Max Signups:</label>
                <input type="number"
                        class="form-control"
                        id="maxSignups"
                        name="maxSignups"
                        value="<%= @event.max_signups %>">
              </div>
            </div>
            <%= submit_tag "Submit Changes", :class => 'btn btn-outline-primary' %>
          <% end %>
        </div>
      </div>
      
      <div class="row">
        <% if @user.permissions != "Member" %>
          <h3>Approve Member Attendance</h3>
          <table class="table sortable">
            <thead class="blue-header">
              <tr style="text-align:center">
                <th>User</th>
                <th>Zone</th>
                <th>Approve</th>
                <th>Reject</th>
              </tr>
            </thead>
            
            
            <% @unapproved_users.each do |user| %>
              <tr style="text-align:center">
                <td> <%= link_to(user.user_name, user_path(User.get_user(user.user_id))) %></td>
                <td> <%= user.user_zone  %></td>
                <td>
                  <%= button_to "Approve", events_approve_attendance_path(:event => user.event_id, :user => user.user_id), method: :post, :class => 'btn btn-outline-success' %>
                  <%#= link_to "Approve Attendance", event_path(user.event_id) %>
                </td>
                <td>
                  <%= button_to "Reject", event_attendance_path(:event => user.event_id, :user => user.user_id), method: :delete, :class => 'btn btn-outline-danger' %>
                </td>
                
              </tr>
            <% end %>
          </table>
        <% else %>
          <h3>Who's Going?</h3>
          <table class="table sortable">
            <thead class="thead-light">
              <tr style="text-align:center">
                <th>User</th>
                <th>Zone</th>
              </tr>
            </thead>
            
            <% @all_users_registered.each do |user| %>
              <tr style="text-align:center">
                <td> <%=user.user_name%></td>
                <td> <%= user.user_zone  %></td>
              </tr>
            <% end %>
          </table>
          
        <% end %>
      </div>
      
    </div>
  </div>
  
  
  
</div>
