<% content_for(:sidebar) do %>
    <% render :partial => "layouts/sidebar" %>
<% end %>


<head>
  <title>User Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="col-md-10 col-xs-12 offset-2"
  <div class="card">
    <div class="card-header">
      <h1><%= @member.name %></h1>
      <h3>Level: <%= @member.permissions %></h3>
      <h3>Zone: <%= @member.user_zone %></h3>
      <% if @user.permissions == "Exec" %>
        </br>
        <button class="btn"
                onclick="prepareEditUserForm()">
          Edit User
        </button>
        <% if @user.net_id != @member.net_id  %>
          </br></br>
          <%= button_to("Delete User", user_path(@member), :method => :delete, :confirm => 'Are you sure?', :class => "btn", :style => 'color: red') %>
        <% end %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="row collapse" id="userDetailsFormSection">
        <div class="card col-10 pt-3 pb-3 mb-3">
      
          <%= form_tag user_path(@member), method: :put do %>
            <div class="form-row">
              <div class="form-group col-3">
                <label for="userName">User Name: </label>
                <input type="text"
                        class="form-control"
                        id="userName"
                        name="userName"
                        value= <%= @member.name %>
                        required autofocus>
              </div>        
              
              <div class="form-group col-2">
                <label for="userPermissions">Level: </label>
                <select class="form-control"
                        id="userPermissions"
                        name="userPermissions"
                        required>
                  <option value="<%= @member.permissions %>" selected>--</option>
                  <option value="Member">Member</option>
                  <option value="ZL">ZL</option>
                  <option value="Exec">Exec</option>
                </select>
              </div>
              
              <div class="form-group col-2">
                <label for="userZone">Zone: </label>
                <select class="form-control"
                        id="userZone"
                        name="userZone"
                        required>
                  <option value="<%= @member.user_zone %>" selected>--</option>
                  <option value="FR">FR</option>
                  <option value="Social">Social</option>
                  <option value="Service">Service</option>
                  <option value="LD">LD</option>
                  <option value="PR">PR</option>
                </select>
              </div>
            </div>
          <%= submit_tag "Edit User Info" %>
          <% end %>
              
        </div>
      </div>
    <% if @member.permissions == "Member" %>
      <div class="card-body">
        <div class="table sortable">
          <table>
            <tbody class="thead-light">
              <tr style="text-align:center">
                <th>FR Points</th>
                  <td><%= @fr_points.length() %></td>
              </tr>
              <tr style="text-align:center">
                <th>Social Points</th>
                  <td><%= @social_points.length() %></td>
              </tr>
              <tr style="text-align:center">
                <th>Service Points</th>
                  <td><%= @service_points.length() %></td>
              </tr>
              <tr style="text-align:center">
                <th>LD Points</th>
                  <td><%= @ld_points.length() %></td>
              </tr>
              <tr style="text-align:center">
                <th>PR Points</th>
                  <td><%= @pr_points.length() %></td>
              </tr>
              <tr style="text-align:center">
                <th>Total</th>
                  <td><b><%= @total_points %></b></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
      
      <% if @pending_registrations %>
        </br></br>
        <div class="table sortable">
            <table>
              <thead class="thead-light">
                <th>Event</th>
                <th>Date</th>
                <th>Approve Attendance</th>
                <th>Points</th>
              </thead>
              
              <% @submitted_events.each do |event| %>
                <tr style="text-align:center">
                  <td><%=event.name%></td>
                  <td><%= DateTime.parse(event.date).strftime("%l:%M%p, %m/%d/%Y") %></td>
                  <td>
                    <%= button_to "Approve Attendance", users_approve_attendance_path(:event => event.id, :member => @member.net_id), method: :post %>
                  </td>
                  <td><%=event.point_value%> <%= event.point_type%></td>
                </tr>
              <% end %>
            </table>
        </div>
      <% end %>
      
    </div>
  </div>